<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<log4net>
		<!--type: Indicates what type of log is used. log4net.Appender.RollingFileAppender Represents logging in text.-->
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">

			<!--Log Storage Path-->
			<file value="Log\" />

			<!--Whether to append logs-->
			<appendToFile value="true" />

			<!--Prevent Writing When Multithreaded Log，Officially, threads are unsafe.-->
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />

			<!--To configure Unicode Code-->
			<encoding value="utf-8" />

			<!--Write to only one file-->
			<staticLogFileName value="false" />

			<!--Add a suffix to the file name, which can be used as: Generate with date as file name log. -->
			<datePattern value="yyyyMMdd'.txt'" />

			<!--Can be: Once|Size|Date|Composite-->
			<!--Composite by Size and Date Combination-->
			<rollingStyle value="Composite" />

			<!--Maximum number of logs, keeping only the latest.-->
			<!--rollingStyle Node is Size Only when value Log files.-->
			<!--rollingStyle Node is Composite When, you can only have value Log files.-->
			<maxSizeRollBackups value="2" />

			<!--Available units: KB|MB|GB-->
			<maximumFileSize value="2MB" />

			<!--Filter-->

			<!--Reject log output used(Logging switch)-->
			<!--<filter type="log4net.Filter.DenyAllFilter" />-->

			<!--Only log events of a specified level are logged-->
			<!--<filter type="log4net.Filter.LevelMatchFilter">
        <AcceptOnMatch value="true" />
        <param name="levelToMatch" value="DEBUG" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />-->

			<!--Only log events at the specified range level are logged-->
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="DEBUG" />
				<param name="LevelMax" value="FATAL" />
			</filter>

			<!--Log Output Format-->
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%Time:%date thread ID: [%thread] Log level:%-5level Error class:%logger Error Description:%message %n" />
			</layout>
		</appender>

		<!--Output control level, from high to low: OFF > FATAL > ERROR > WARN > INFO > DEBUG > ALL -->
		<root>
			<priority value="ALL" />
			<level value="ALL" />
			<appender-ref ref="RollingFileAppender" />
		</root>
	</log4net>
</configuration>